<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/logo-black.svg" alt="logo" width="264" height="78"></a>
            <p>
                
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.google.com/search?sca_esv=199f7bfbd02e2694&sxsrf=AHTn8zpDc-7FKkRRdCM31Vcj1aoprquFcw:1742572041297&q=gary%27s+tree+service+tulsa&spell=1&sa=X&ved=2ahUKEwjchpHcwpuMAxVSM9AFHTtoAtUQBSgAegQIExAB&biw=1920&bih=945&dpr=1#lpg=cid:CgIgAQ%3D%3D,ik:CAoSLEFGMVFpcE5hOW8wZmplREoxWGdBMU9KOXl6dTFGcTVnbExmeVdfN2IzVWRE">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Tree Trimming</li>
                    <li>Limb Removal</li>
                    <li>Stump Grinding</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <!-- <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li> -->
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://betterwebsite.ai" target="_blank" rel="noopener">BetterWebsite</a>
        <span class="copyright">
            Copyright {% year %} - Present</span>
    </div>
</footer>
